  /* Estilos generales para el login que se aplicarán a todas las pantallas */
  /* Agrega tus estilos generales aquí */

/* Estilos específicos para pantallas de celular */
@media screen and (max-width: 600px) {
 
  .maincontainer{
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    justify-content: space-between;

    border: 1px solid grey;
    box-shadow: 5px 5px 5px 0px grey;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.maincontainer div{
  margin-bottom: 1%;
}

.maincontainer h1{
  font-size: small;
  width: 100px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 1px solid gray;
}

.maincontainer p{
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.datescontainer{
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.datescontainer div{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.datescontainer input{
  width: 170px;
  height: 20px;
  border-radius: 5px;
  border: 0.5px solid grey;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-small;
}

.thirdpartycontainer textarea{
  height: 60px;
  width: 280px;
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  align-items: first baseline;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: smaller;
}

.progresscontainer input{
  height: 20px;
  width: 60px;
}

.buttoncontainer{
  margin-left: auto;
  margin-right: auto;
}

.buttoncontainer button{
  background-color: #3968af;
  color: white;
  width: 150px;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 0px;
}











}
/* Estilos específicos para pantallas de laptop */
@media screen and (min-width: 601px) and (max-width: 1024px) {
  
}
/* Estilos específicos para pantallas wide */
@media screen and (min-width: 1025px) {
 
.maincontainer{
    display: flex;
    flex-direction: column;
    align-items:  flex-start;
    justify-content: space-between;

    border: 1px solid grey;
    box-shadow: 5px 5px 5px 0px grey;
    border-radius: 10px;
    padding: 10px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.maincontainer div{
    margin-bottom: 5px;
}

.maincontainer h1{
    font-size: large;
    width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid gray;
}

.maincontainer p{
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.datescontainer{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.datescontainer div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.datescontainer input{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 0.5px solid grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.thirdpartycontainer textarea{
    height: 60px;
    width: 280px;
    border: 1px solid grey;
    border-radius: 10px;
    display: flex;
    align-items: first baseline;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: smaller;
}

.progresscontainer input{
    height: 20px;
    width: 60px;
}

.buttoncontainer{
    margin-left: auto;
    margin-right: auto;
}

.buttoncontainer button{
    background-color: #3968af;
    color: white;
    width: 150px;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 0px;
}


/* NotificationMessage.module.css */
.notification {
    background-color: #3ec016;
    border-radius: 10px;
    color: white;
    text-align: center;
    padding: 16px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0; /* Inicialmente, el mensaje estará oculto */
    animation: fadeInOut 2s forwards; /* Animación para aparecer */
  }
  
  /* Animación para aparecer y desaparecer */
  @keyframes fadeInOut {
    0% {
      opacity: 0; /* Empieza completamente transparente */
      transform: translateY(20px); /* Empieza 20px más abajo */
    }
    50% {
      opacity: 1; /* A mitad de la animación, estará completamente visible */
      transform: translateY(0); /* A mitad de la animación, estará en su posición normal */
    }
    100% {
      opacity: 0; /* Al final de la animación, estará completamente transparente */
      transform: translateY(-20px); /* Al final de la animación, estará 20px más arriba */
    }
  }
  
  


}



