.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  border: 1px solid rgb(160, 156, 156);
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(https://statics.turecibo.com/media/custom/login/marcobre_bg.jpg);
  background-size: cover;
  background-position: center top;
}


@media (orientation: landscape) {
  
}

/* Estilos específicos para pantallas de celular */
@media screen and (max-width: 600px) {

  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    padding: 40px 20px 40px 20px;
  }

  .form img{
    margin-bottom: 40px;
  }

  .input {
    margin-bottom: 10px;
    padding: 10px;
    width: 230px;
    height: 10px;
  }
  
  .button {
    background-color: grey;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    width: 250px;
    border-radius: 5px;
  }
  
}

/* Estilos específicos para pantallas de laptop */
@media screen and (min-width: 601px) and (max-width: 1024px) {

  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    padding: 100px 40px 100px 40px;
  }

  .form img{
    margin-bottom: 30px;
  }
  
  .input {
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
  }
  
  .button {
    background-color: grey;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    width: 320px;
    border-radius: 5px;
  }

  
}

/* Estilos específicos para pantallas wide */
@media screen and (min-width: 1025px) {
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px 100px 50px;
    border-radius: 10px;
    background-color: white;
    text-decoration: none;
  }

  .form img{
    margin-bottom: 50px;
  }

  
  .input {
    margin-bottom: 10px;
    padding: 10px ;
    width: 300px;
    border-radius: 5px;
    border: 1px solid grey;
    
  }
  
  .button {
    background-color: grey;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 40px;
    width: 300px;
    border-radius: 5px;
  }
  
}
